* text=auto

*.tbox linguist-language=c


*.tbox linguist-language=tbox
*.c linguist-language=tbox
*.h linguist-language=tbox
*.cpp linguist-language=tbox
*.hpp linguist-language=tbox
*.java linguist-language=tbox
